@model ProductCrudNimapInfoteck.Models.Category
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewBag.Title = "Create";
}
<h2>Add a New Category</h2>
@using(Html.BeginForm("Create","Category",FormMethod.Post,new{enctype="multipart/form-data"}))
{
    <table class="table">
        <tr>
            <td>Enter Category Name</td>
            <td>@Html.EditorFor(Model=>Model.CategoryName,new{HtmlAttributes=new{@class="form-control"}})</td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Add Product" class="btn-primary btn-success text-center"/>

            </td>
        </tr>

    </table>
}